:root{
    --text-white:#F0F0F0;
    --background-dark:#444444;
    --accent-pink:#ffabf8;
    --accent-dark-pink:#ec9ce4;
    --comfy-padding:24px;
}

body {
    font-family: "Lucida Sans", sans-serif;
    color: var(--text-white);
    text-decoration: none solid var(--background-dark);
    text-align: center;
    background-color: var(--background-dark);
    font-size: clamp(16px, 0.8vw, 69px);
    line-height: 1.6;
    font-size-adjust: none;
}

div {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    min-width: 150px;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.contentliquid {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    margin: 1em;
    padding: 1em;
}

.intro {
    width: 50%;
    float: left;
    margin: 1em;
    padding: 1em;
    text-align: right;
}

.links {
    height: auto;
    width: 100%;
    clear: both;
}

.link-image {
    height: 1.4em;
    vertical-align: middle;
    padding-right: 0.5em;
}

.link-emoji {
    font-size: 1.5em;
    vertical-align: tex;
    padding-right: 0.2em;
    text-decoration: none;
}

h2 {

}

a {
    color: var(--accent-pink);
    text-decoration: none;
}

a:hover {
color: var(--accent-dark-pink);
}

.logo-image {
    float: left;
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

@media screen and (max-width: 1000px) {
    .contentliquid {
        flex-direction: column;
    }
    body {
   /*    font-size: 250%!important;*/
    }
    .logo {
        max-width: 100%;
        max-height: 60%;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }
    .intro {
        margin-top: 0em;
        padding-top: 0em;
        width: 100%;
        text-align: center;
    }
   }
