:root{

    --text: hsl(305, 100%, 95%);
    --background: hsl(185, 96%, 10%);
    --primary: #ffadf8;
    --secondary: hsl(182, 100%, 7%);
    --accent: #15e1f4;
    --highlight-background: hsl(185, 91%, 32%);
    --highlight-text: #ffe5fd;
    --comfy-padding:24px;

    --spectra-red: #dd0000;
    --spectra-orange: #e67e22;
    --spectra-yellow: #f1c40f;
    --spectra-green: #2ecc71;
    --spectra-blue: hsl(204, 59%, 49%);
    --spectra-purple: #8f56a7;
    --spectra-pink: #ffadf8;
    --spectra-cyan: hsl(185, 91%, 52%);
    --spectra-deep-brown: #281c18;
    --spectra-brown: #733b2d;
}

body {
    font-family: "Lucida Sans", sans-serif;
    color: var(--text);
    text-decoration: none solid var(--background);
    text-align: center;
    background-color: var(--background);
    font-size: clamp(16px, 0.8vw, 69px);
    line-height: 1.6;
    font-size-adjust: none;
}

div {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.contentliquid {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    margin: 1em;
    padding: 1em;
}

.intro {
    width: 50%;
    float: left;
    margin: 1em;
    padding: 1em;
    text-align: right;
}

.links {
    height: auto;
    width: 100%;
    clear: both;
}

.link-image {
    height: 1.4em;
    vertical-align: middle;
    padding-right: 0.5em;
}

.link-emoji {
    font-size: 1.5em;
    vertical-align: tex;
    padding-right: 0.2em;
    text-decoration: none;
}

h2 {

}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
color: var(--accent);
}

.logo-image {
    float: left;
    display: block;
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .contentliquid {
        flex-direction: column;
    }
    body {
   /*    font-size: 250%!important;*/
    }
    .logo {
        max-width: 100%;
        max-height: 60%;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }
    .intro {
        margin-top: 0em;
        padding-top: 0em;
        width: 100%;
        text-align: center;
    }
   }

::selection {
    color: var(--highlight-text);
    background: var(--highlight-background); /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: var(--highlight-text);
    background: var(--highlight-background); /* Gecko Browsers */
}